<div id="vue-root">
    <cp-settings 
    settings-json="{{ settings|json_encode }}"
    db-tables-json="{{ tableNames|json_encode }}"
    ></cp-settings>
</div>

{% do view.registerAssetBundle("unionco\\craftsyncdb\\assetbundles\\cp\\CpAsset") %}
{% js %}
new Vue({ el: '#settings-vue-root' });
{% endjs %}