{% extends "_layouts/cp" %}

{% set title = "Sync Database" %}

{% do view.registerAssetBundle('unionco\\craftsyncdb\\assetbundles\\cp\\CpAsset') %}

{% block content %}
    
    <div id="vue-sync-root" data-redirect-url="/admin/sync-db">
        <div data-status class="field">
            <div class="heading">
                <label for="status">Status</label>
            </div>
            <div id="status">Initializing...</div>
            <div id="spinner" class="spinner hidden"></div>
        </div>
        <form id="poll-form">
            {{ csrfInput() }}
            <input type="hidden" name="logFile" value="{{ craft.app.request.getBodyParam('logFile') }}">
            <input type="hidden" name="env" value="{{ craft.app.request.getBodyParam('env') }}">
        </form>
        <div class="field">
            <div class="heading">
                <label>Output</label>
                </div>
            <pre><code data-output></code></pre>
        </div>
    </div>
{% endblock %}