{% extends "_layouts/cp" %}

{% set title = "Sync Database" %}

{% block content %}
    <div data-vue="sync" data-env="{{ craft.app.request.getBodyParam('env') }}" data-log-file="{{ craft.app.request.getBodyParam('logFile') }}">
        <div data-app></div>
    </div>
{% endblock %}

{% do view.registerAssetBundle("unionco\\craftsyncdb\\assetbundles\\cp\\CpAsset") %}
